/* Fondo suave para el cuerpo de la página */
body {
    background-color: #2b2b2b !important;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: floralwhite;
  }
  
  /* Fondo y sombra para las tarjetas */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  
  /* Sombra en la tarjeta de Pokémon */
  #pokemon-info {
    background-color: #2b2b2b;
    border-color: #ccc;
  }
  
  /* color letra tarjetas*/
.card-body {
    padding: 2rem;
    color: #faf4f4;
}   

/* color de la tarjeta */
.form-select {
   border-radius: 5px;
   padding: 0.75rem;
   font-size: 1rem;
   color: #2b2b2b;
}

  /* Ajuste de fuentes */
  h1, h2 {
    font-weight: bold;
  }
  
  /* Estilo de botones y selectores */
  .form-select {
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  /* Para que las imágenes del Pokémon se ajusten bien */
  img {
    border-radius: 8px;
  }
  
  /* Márgenes automáticos para centrar contenido en pantalla */
  .container {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2b2b2b;
  }
  
  /* Espaciado y márgenes adicionales para el contenido */
  .card-body {
    padding: 2rem;
  }
  
  /* Alineación a la izquierda */
  .row {
    display: flex;
    justify-content: flex-start; /* Alinea todo a la izquierda */
  }
  
  /* Evitar que se sobrepongan en pantallas pequeñas */
  @media (max-width: 768px) {
    .col-md-6 {
      width: 100%; /* Hacer que ocupe todo el ancho en pantallas pequeñas */
    }
  }
